* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.everything {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(#f9d349, 20%, #d57e12);
    position: relative;
}

nav {
    display: flex;
    padding-left: 0%;
    padding-right: 0%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
    padding: 0 2rem;
    font-family: 'Permanent Marker', cursive;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding-left: 10%;
}


.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    position: relative;
    z-index: 2;
}

.left p {
    color: white;
    font-size: 1.3rem;
    line-height: 2;
    margin-bottom: 10px; 
    font-family: 'Poppins', sans-serif;
}

p.trend {
    font-size: .8rem;
}

.left h3 {
    color: white;
    font-size: 2rem;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-start;
}

.left h1 {
    color: white;
    font-size: 10rem;
    font-family: 'Permanent Marker', cursive;
    line-height: 1.5;
}

.platforms {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
}

.left a {
    color: white;
    font-size: 1.5rem;
    padding: 0rem 1rem;
    margin-top: auto;
}

button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    background: white;
    cursor: pointer;
    border-radius: 50px;
    line-height: 1;
    margin-top: 10px;
    max-width: fit-content;
    margin-bottom: 15px;
}

button:hover {
    background: skyblue;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

img {
    width: 450%;
    height: 100%;
    min-width: fit-content;
}

@media screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
    }
}

